
language: android
jdk: oraclejdk8
# Turn off caching to avoid any caching problems
cache: false
sudo: true

env:
  global:
    - ANDROID_API_LEVEL=27
    - ANDROID_BUILD_TOOLS_VERSION=27.0.3
    - ADB_INSTALL_TIMEOUT=2 # minutes (If ABD instalation pass this time, the build will throw an error)

cache:
  directories:
  - "/ChangeXchange/.m2"
  - "/ChangeXchange/.gradle"
  - "/ChangeXchange/.gradle/caches/"
  - "/ChangeXchange/.gradle/wrapper/"

android:
  components:
    - platform-tools
    - tools
    - build-tools-$ANDROID_BUILD_TOOLS_VERSION
    - android-$ANDROID_API_LEVEL
    # Google Play Services
    - extra-google-google_play_services
    # Support library
    - extra-android-support
    # Latest artifacts in local repository
    - extra-google-m2repository
    - extra-android-m2repository

  licenses:
    - android-sdk-preview-license-.+
    - android-sdk-license-.+
    - google-gdk-license-.+
    - android-sdk-license-5be876d5

# This step is made for automatic acception of licenses whenever Travis builds the code.
before_install:
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
  - echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"
  - cd ChangeXchange
  - chmod +x gradlew
  - ./gradlew dependencies || true
